---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Abigail Gill's <strong>Everyday Carries</strong></h1>
<section class="items">
  <figure>
    <img src="/images/earbuds.jpg" alt="A photo of my earbuds">
    <figcaption>My Earbuds</figcaption>
  </figure>
  <p>
    I always have my wireless earbuds with me for listening to music. I really can't go anywhere without them, as music is too important to me. I've put a decent amount of money into getting earbuds with good sound, as I value listening in high quality.
  </p>
</section>