---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Abigail Gill's <strong>Everyday Carries</strong></h1>
<section class="items">
  <figure>
    <img src="/images/wallet.jpg" alt="A photo of my wallet">
    <figcaption>My Wallet</figcaption>
  </figure>
  <figure>
    <img src="/images/keys.jpg" alt="A photo of my keys">
    <figcaption>My Keys</figcaption>
  </figure>
  <figure>
    <img src="/images/earbuds.jpg" alt="A photo of my earbuds">
    <figcaption>My Earbuds</figcaption>
  </figure>
</section>