---
layout: layout.liquid
title: 11ty Boilerplate
---

{% pageTitle "Abigail Gill's", "Everyday Carries" %}
<section class="items">
  <figure>
    <img src="/images/wallet.jpg" alt="A photo of my wallet">
    <figcaption>My Wallet</figcaption>
  </figure>
  <p>
    My wallet is years old, with plenty of wear-and-tear, but it still does its job. It's stuffed full of a variety of cards, including my credit and debit card, my IDs, gift cards, and some arcade cards, too. I always have it with me to keep my belongings organized.
  </p>
</section>