  <nav>
    <ul>
      <li><strong><a href="/" title="Go home">HOME</a></strong></li>
    </ul>
    <ul>
      <li><a href="/" title="About my wallet">Wallet</a></li>
      <li><a href="/" title="About my keys">Keys</a></li>
      <li><a href="/" title="About my earbuds">Earbuds</a></li>
    </ul>
  </nav>