/* NAVIGATION */
nav {
    background-color: #001d3d;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    float: center;
    margin: 0 30px;
    padding: 15px 0;
    color: #eef7ff;
    font-size: 2em;
}

nav li strong{

    color: #eef7ff;
    font-size: 2em;
}

nav a {
  text-decoration: none;      /* Remove link underline */
  color: inherit;             /* Inherit text color from parent */
  font-weight: bold;          /* Optional for styling */
}

/* BODY */
body {
    background-color: #000814;
    font-family: Helvetica, sans-serif;
    color: #eef7ff;
    margin: 0;
    padding: 0;
}

/* CONTENT */
h1 {
    text-align: center;
    font-size: 5em;
}

h1 strong {
    color: #a1d2ff;
}

img {
    display: flexbox;
    margin: 20px;
    max-width: 30%;
    height: auto;
    outline-color:#eef7ff;
    outline-style: solid;
    outline-width: 2px;
}