/* NAVIGATION */
nav {
    background-color: #001d3d;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav li {
    float: center;
    margin: 0 30px;
    padding: 15px 0;
    color: #eef7ff;
    font-size: 2em;
}

nav li strong{

    color: #eef7ff;
    font-size: 2em;
}

nav a {
  text-decoration: none;      /* Remove link underline */
  color: inherit;             /* Inherit text color from parent */
  font-weight: bold;          /* Optional for styling */
}

/* BODY */
body {
    background-color: #000814;
    font-family: Helvetica, sans-serif;
    color: #eef7ff;
    margin: 0;
    padding: 0;
}

/* CONTENT */
h1 {
    text-align: center;
    font-size: 5em;
}

h1 strong {
    color: #a1d2ff;
}

img {
    outline-color:#eef7ff;
    outline-style: solid;
    outline-width: 2px;
}

/* ITEMS CONTAINER */
.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;
    margin: 40px auto;
    text-align: center;
    max-width: 95%;
}

.items figure {
  flex: 1 1 300px;
  margin: 0;
}

.items img {
    max-width: 100%;
    height: auto;
}

.items figcaption {
    margin-top: 10px;
    font-size: 2em;
}